#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

#pic {
    margin: 35px;
}

#pic img {
    /* min-width: 0; */
    max-width: 20em;
    border-radius: 5px;
}

span {
    font-family: 'SF Pro Medium', 'Helvetica Neue', sans-serif;
}

button {
    font-family: 'SF Pro Light', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
}

.text {
    width: 60vw;
    font-family: 'SF Pro Light', 'Helvetica Neue', sans-serif;
    text-align: center;
    word-wrap: normal;
}

@media all and (max-width: 480px) {
    #pic img {
        /* min-width: 0; */
        max-width: 15em;
        border-radius: 5px;
    }
    .text {
        width: 80vw;
        font-family: 'SF Pro Light', 'Helvetica Neue', sans-serif;
        text-align: center;
        word-wrap: normal;
    }
}