<div class="fade-in" id="container">
    <div id="pic">
        <img src="../../assets/headshot.jpg">
    </div>

    <div class="text" id="bio">
        <br>
        <p>hi! i'm phil budiman. i'm currently a rising junior at Boston University majoring in computer science with a minor in economics. i'm passionate for all things vintage technology, front-end, and app development.</p>
        <br>
        <p>in my time at Boston University, i've taken classes on <span>computer systems</span>, <span>software engineering</span>, <span>information security</span>, <span>data structures</span>, and <span>algorithms</span> to name a few.</p>
        <br>
        <p>in my free time, i like to tinker around and work on building cool stuff using technology. you can see my published projects at my <a href="https://github.com/phillipbudiman" target="_blank" rel="noopener noreferrer">github page</a>.</p>
        <br>
        <a href="../../assets/Phillip Budiman Resume.pdf" target="_blank" rel="noopener noreferrer"><button mat-stroked-button>resume</button></a>
    </div>
</div>