<div class="fade-in">
    <!-- <p>feel free to contact me at the following if you'd like to chat</p>
    <p>email: <span>pbudiman@bu.edu</span> or <span>phillipbudiman@gmail.com</span></p>
    <p>cell: <span>(617) 500-7831</span></p> -->

    <form ngNoForm action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfEcA0xr_ZNhM2guyhj1BAu39C820BC6NH2fuh-20ljc8jEJg/formResponse" method="post">
        <mat-form-field appearance="standard">
            <mat-label>name</mat-label>
            <input matInput placeholder="steve" [formControl]="name" name=“entry.63580772” required>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>email</mat-label>
            <input matInput placeholder="woz@apple.com" [formControl]="email" name=“entry.1047629770” required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>phone</mat-label>
            <input matInput placeholder="6054756964" [formControl]="phone" name=“entry.1966871273”>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>message</mat-label>
            <input matInput placeholder="hello" [formControl]="message" name=“entry.318627296” required>
        </mat-form-field>
        <br>
        <button type="submit" mat-stroked-button>submit</button>
    </form>
</div>