#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

#toolbar {
    display: flex;
    flex-direction: row;
    font-family: 'SF Pro Light', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    justify-content: flex-end;
    align-items: center;
    margin: 1.25rem;
}

#toolbar button {
    font-family: 'SF Pro Light', 'Helvetica Neue', sans-serif;
}

#sig {
    margin-right: auto;
}

#footer {
    font-family: 'SF Pro Ultralight', 'Helvetica Neue', sans-serif;
    margin: 2em;
}

#buttons {
    display: initial;
}

#bg {
    display: none;
}

.bgb {
    font-family: 'SF Pro Light', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

#mmenu {
    /* size: 15em; */
}

@media all and (max-width: 480px) {
    #buttons {
        display: none;
    }
    #bg {
        display: initial;
    }
}